{% extends "base.html" %}
{% block title %}SUPER-RPS{% endblock %}
{% block content %}

<div class="col-md-8 col-md-offset-2">
<div class="form-group row">
  <label for="example-text-input" class="col-2 col-form-label">Nom</label>
  <div class="col-10">
    <input class="form-control" type="text" value="Smith" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-2 col-form-label">Prénom</label>
  <div class="col-10">
    <input class="form-control" type="search" value="John" id="example-search-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-2 col-form-label">Email</label>
  <div class="col-10">
    <input class="form-control" type="email" value="rps@ultimateRPS.com" id="example-email-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-2 col-form-label">Site internet</label>
  <div class="col-10">
    <input class="form-control" type="url" value="https://www.ultimateRPS.com" id="example-url-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
  <div class="col-10">
    <input class="form-control" type="tel" value="02 10 10 10 10" id="example-tel-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-password-input" class="col-2 col-form-label">Mot de passe</label>
  <div class="col-10">
    <input class="form-control" type="password" value="hunter2" id="example-password-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-date-input" class="col-2 col-form-label">Date de naissance</label>
  <div class="col-10">
    <input class="form-control" type="date" value="08-03-2017" id="example-date-input">
  </div>
</div>
<button type="submit" class="btn btn-default">Valider</button>
</div>
<!-- <div class="form-group row">
  <label for="example-color-input" class="col-2 col-form-label">Color</label>
  <div class="col-10">
    <input class="form-control" type="color" value="#563d7c" id="example-color-input">
  </div>
</div> -->


{% endblock %}
