{% extends "base.html" %}
{% block title %}UltimateRPS{% endblock %}
{% block content %}


	

		{% for partie in liste_parties %}			
				
			<div class = "row" style ="padding-top : 10px"></div>

			<div class="row", style="background-color: #FFFF33;border-radius: 25px;">
				<div class="col-xs-8 col-xs-offset-2">
					<p class="text-center">
						{{ partie.Creator.username }} : {{partie.CreatorHand}} VERSUS
						{{ partie.Opponent.username }} : {{partie.OpponentHand}} 
						<br>
						WINNER : 
						{% if not partie.Winner %}
							Pas encore de vainqueur
						{% else %}
							{{ partie.Winner }}
						{% endif %}
					</p>

				</div>
			</div>
				
				
		{% empty %}
			<p>Aucune partie</p>



		{% endfor %}	

	</div>

{%endblock%}
