{% extends "base.html" %}
{% block title %}UltimateRPS{% endblock %}
{% block content %}



	{% for partie in dernieres_parties %}
		{% if forloop.first %}
			<div class="row", style="padding-bottom: 100px;">
			<div  class ="col-md-6 col-md-offset-3 top100" style="background-color: #FFFF33;border-radius: 25px;">
		{% endif %}
			
				<h3>
					{{ partie.Creator.username }} : {{partie.CreatorHand}} VERSUS
					{{ partie.Opponent.username }} : {{partie.OpponentHand}} 
				</h3>
				<h1>
					WINNER : 
					{% if not partie.Winner %}
						Pas encore de vainqueur
					{% else %}
						{{ partie.Winner }}
					{% endif %}
				</h1>

				{% empty %}
					<p>Aucune partie</p>


				</div><div  class ="row">
				</div><div  class ="col-md-6 col-md-offset-3 top100" style="background-color: #FFFF33;border-radius: 25px;">
			

			{% endfor %}
	</div>

{%endblock%}
