{% extends "base.html" %}
{% block title %}SUPER-RPS{% endblock %}
{% block content %}


	<div class = btn-group>
		{% for partie in dernieres_parties %}
			<h3>
				{{ partie.Creator.username }} : {{partie.CreatorHand}} VERSUS
				{{ partie.Opponent.username }} : {{partie.OpponentHand}} 
			</h3>
			<h1>
				WINNER : 
				{% if not partie.Winner %}
					Pas encore de vainqueur
				{% else %}
					{{ partie.Winner }}
				{% endif %}
			</h1>

		{% empty %}
		<p>Aucune partie</p>
		{% endfor %}
	</div>

{%endblock%}
